<!DOCTYPE html>
<html lang="en">

<head>
  <title>Document</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/quillcursor.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
  <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
  <script src="/quillvideoresize.js"></script>

  <!-- Theme included stylesheets -->
  <base href="/">
  <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
  <link href="/public/css" rel="stylesheet" type="text/css" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VEWT4KY6Y8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-VEWT4KY6Y8');
  </script>
</head>

<body>
  <div class="container" id="container">
    <div class="ql-toolbar ql-snow">
      <input type="text" name="title" placeholder="Title" id='title' onblur="documentTitle()" />

      <button class="trigger" id="trigger">Share</button>
      

      <button id="clickbind">
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN" "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50.000000pt" height="25.000000pt"
          viewBox="0 0 225.000000 225.000000" preserveAspectRatio="xMidYMid meet">
          <metadata>
            Created by potrace 1.10, written by Peter Selinger 2001-2011
          </metadata>
          <g transform="translate(0.000000,225.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
            <path d="M1805 2052 c-39 -46 -21 -41 23 7 18 20 29 42 20 41 -2 -1 -21 -22
-43 -48z" />
            <path d="M985 2060 c-329 -52 -603 -271 -728 -579 -52 -130 -71 -245 -64 -396
7 -146 30 -234 98 -371 88 -180 233 -325 414 -414 138 -68 224 -91 373 -97
217 -10 387 36 563 152 360 239 509 685 365 1094 -103 294 -360 524 -666 596
-81 19 -275 27 -355 15z m75 -27 c0 -5 51 -8 114 -8 63 0 113 -3 111 -6 -2 -3
22 -11 53 -17 31 -7 84 -23 117 -36 32 -14 63 -22 69 -19 5 4 6 1 1 -7 -6 -10
-4 -12 9 -7 9 4 15 3 12 -2 -5 -7 27 -22 56 -25 3 -1 10 -5 15 -10 5 -5 2 -6
-7 -1 -10 5 -12 5 -5 -3 6 -6 16 -12 24 -14 7 -2 37 -27 66 -55 30 -29 58 -53
64 -53 6 0 11 -4 11 -8 0 -4 20 -30 45 -57 25 -28 43 -55 41 -62 -3 -6 3 -17
12 -25 16 -12 16 -11 2 6 -14 18 -14 18 7 6 12 -8 20 -17 17 -21 -6 -11 22
-60 30 -52 4 4 4 0 0 -10 -3 -10 -1 -17 6 -17 6 0 8 -4 5 -10 -3 -5 -1 -10 4
-10 6 0 11 -9 11 -20 0 -11 5 -20 10 -20 6 0 10 -9 10 -20 0 -29 23 -100 33
-100 5 0 6 -9 2 -20 -3 -11 -3 -25 2 -32 10 -16 11 -321 1 -328 -4 -3 -9 -21
-11 -40 -2 -19 -9 -48 -16 -65 -7 -16 -13 -40 -13 -52 0 -13 -4 -20 -8 -18 -5
3 -14 -12 -21 -32 -7 -21 -23 -55 -36 -75 -12 -21 -23 -42 -23 -48 0 -5 -4
-10 -10 -10 -5 0 -10 -6 -10 -13 0 -22 -77 -100 -91 -91 -8 5 -10 3 -4 -5 8
-14 -31 -61 -51 -61 -7 0 -16 -5 -20 -12 -4 -7 -3 -8 4 -4 7 4 12 5 12 2 0 -2
-18 -15 -40 -27 -21 -12 -37 -26 -34 -30 2 -4 -5 -6 -16 -4 -11 2 -18 0 -16
-4 3 -4 -23 -21 -57 -37 -34 -16 -65 -33 -68 -37 -12 -17 -186 -59 -241 -59
-21 0 -38 -3 -38 -8 0 -8 -138 -4 -177 5 -13 3 -23 1 -23 -5 0 -5 -5 -10 -11
-10 -6 0 -9 7 -5 15 7 18 -5 20 -22 3 -7 -7 -12 -8 -12 -2 0 6 -25 16 -55 23
-30 7 -57 17 -60 22 -4 5 -11 9 -16 9 -6 0 -7 -4 -4 -10 11 -18 -11 -11 -30
10 -10 11 -21 17 -25 15 -4 -3 -18 4 -30 15 -13 11 -34 20 -47 20 -12 0 -23 5
-23 10 0 6 -6 10 -14 10 -8 0 -21 8 -28 18 -19 27 -63 53 -73 45 -5 -5 -3 0 5
10 7 10 9 17 4 16 -24 -4 -36 2 -30 17 3 8 2 13 -3 10 -4 -3 -16 3 -26 14 -10
11 -23 17 -29 13 -6 -3 -8 -3 -4 2 12 13 -12 47 -28 41 -8 -3 -13 -2 -10 3 3
5 -13 35 -37 66 -23 31 -42 60 -43 64 0 3 -8 23 -17 43 -10 21 -17 43 -17 50
0 9 -3 8 -10 -2 -7 -11 -10 -8 -10 16 0 17 -7 44 -15 61 -8 16 -21 63 -29 104
-8 41 -17 82 -21 92 -4 9 -3 17 1 17 11 0 12 113 1 121 -4 3 -2 20 4 37 6 18
8 39 5 47 -3 8 -2 15 3 15 5 0 11 22 15 48 3 26 15 65 25 85 10 20 15 34 10
31 -14 -8 -10 3 6 20 9 8 17 29 18 45 1 16 5 27 10 24 4 -2 7 1 7 7 0 19 46
80 55 72 5 -4 5 -2 1 5 -7 13 5 29 66 93 21 22 38 43 38 47 0 10 42 38 53 35
5 -1 6 2 3 7 -4 5 7 18 23 27 17 10 28 21 26 25 -3 4 1 6 8 5 6 0 13 3 14 8 1
7 115 68 133 72 3 0 27 11 54 24 27 12 66 25 88 27 21 3 38 8 38 12 0 3 18 7
41 8 22 2 48 7 57 13 21 11 32 13 32 3z" />
            <path d="M1098 1925 c-3 -3 -34 -7 -69 -9 -81 -5 -130 -16 -123 -27 3 -5 -8
-9 -25 -9 -27 0 -180 -69 -156 -70 6 0 -10 -9 -34 -20 -23 -11 -52 -31 -63
-45 -11 -14 -24 -22 -29 -19 -6 3 -13 -3 -16 -15 -3 -12 -10 -21 -17 -21 -23
-1 -151 -184 -158 -225 -2 -11 -9 -26 -15 -33 -7 -7 -13 -22 -13 -32 0 -10 -6
-21 -12 -23 -9 -4 -9 -6 -1 -6 8 -1 8 -9 0 -33 -7 -18 -16 -36 -20 -39 -13
-10 -11 -260 2 -319 20 -84 53 -174 71 -187 8 -6 12 -15 8 -18 -11 -11 10 -46
55 -96 9 -10 17 -22 17 -26 0 -14 64 -82 72 -77 4 3 8 -1 8 -8 0 -15 26 -40
62 -59 13 -6 26 -16 29 -21 15 -23 179 -100 201 -94 10 2 16 1 13 -3 -4 -7 24
-18 92 -36 12 -3 71 -8 130 -10 110 -5 211 8 248 31 11 6 36 15 55 19 19 4 46
15 60 25 14 10 35 21 48 24 12 4 22 12 22 17 0 5 5 9 10 9 14 0 67 38 104 75
17 17 34 29 39 27 5 -1 6 2 3 7 -4 5 -3 11 1 13 10 4 93 104 93 112 0 3 14 27
30 53 17 26 30 55 30 65 0 17 4 28 32 80 17 33 38 148 26 148 -5 0 -6 5 -2 12
20 32 -3 288 -26 296 -6 2 -10 12 -10 21 0 27 -45 132 -54 124 -4 -4 -4 0 0
10 3 10 1 17 -5 17 -7 0 -15 8 -19 18 -17 42 -78 121 -96 126 -11 3 -17 8 -13
12 7 7 -76 80 -108 95 -25 11 -58 32 -65 40 -12 15 -51 29 -62 23 -7 -4 -8 -3
-4 4 6 10 -49 32 -81 32 -6 0 -13 4 -15 10 -4 12 -130 30 -158 23 -11 -3 -20
0 -20 6 0 11 -62 16 -72 6z m194 -59 c74 -16 194 -69 261 -115 55 -37 150
-132 187 -186 175 -256 179 -592 10 -848 -166 -251 -476 -381 -765 -322 -324
67 -565 325 -605 649 -39 318 135 630 428 768 46 22 111 46 145 53 82 18 256
18 339 1z" />
            <path d="M1190 1818 c0 -14 48 -57 70 -62 23 -6 23 -6 5 5 -11 6 -32 23 -47
37 -16 14 -28 23 -28 20z" />
            <path d="M967 1710 c-15 -16 -31 -30 -36 -30 -5 0 -11 -7 -15 -15 -3 -8 -4
-15 -2 -15 11 0 90 79 85 84 -3 3 -18 -7 -32 -24z" />
            <path d="M1280 1725 c0 -9 103 -106 107 -101 4 4 -48 59 -85 90 -12 11 -22 16
-22 11z" />
            <path d="M1032 1432 c2 -144 1 -262 -2 -262 -2 0 -30 28 -61 63 l-58 62 -68
-67 -68 -68 175 -175 175 -175 174 176 175 175 -68 67 -67 67 -57 -63 c-31
-34 -59 -62 -62 -62 -3 0 -4 118 -2 262 l3 263 -96 0 -96 0 3 -263z m141 204
c3 -7 6 -108 6 -224 1 -155 4 -216 14 -236 8 -14 17 -23 20 -19 4 3 7 1 7 -5
0 -7 7 -9 18 -5 20 7 92 70 87 75 -2 2 4 4 15 4 10 0 16 -4 14 -8 -3 -4 -1 -8
4 -8 4 0 18 -13 30 -30 21 -28 21 -31 5 -49 -9 -11 -20 -18 -25 -15 -5 3 -7 1
-6 -5 2 -6 -51 -64 -117 -128 l-120 -118 -22 23 c-12 12 -19 22 -16 22 3 0
-13 18 -37 40 -23 22 -47 37 -52 34 -5 -3 -8 1 -6 8 3 15 -52 68 -71 68 -6 0
-8 7 -5 15 4 9 0 15 -9 15 -8 0 -18 7 -21 16 -3 8 -11 12 -17 8 -7 -4 -9 -3
-6 3 4 6 -2 21 -13 33 -22 25 -26 35 -10 25 6 -3 10 -1 10 5 0 6 4 9 9 6 4 -3
13 6 19 19 10 22 14 23 42 14 16 -6 39 -24 51 -40 11 -16 24 -27 29 -24 5 3
11 1 15 -5 11 -18 45 9 45 35 0 14 3 25 8 25 4 0 6 93 6 208 -1 114 1 213 3
220 7 17 89 16 96 -2z" />
            <path d="M750 1502 c0 -4 -11 -20 -25 -35 -14 -15 -23 -27 -19 -27 8 0 64 57
64 65 0 3 -4 5 -10 5 -5 0 -10 -3 -10 -8z" />
            <path d="M1460 1461 c-8 -10 -24 -27 -34 -40 -13 -14 -15 -20 -5 -16 17 8 74
75 62 74 -4 0 -15 -8 -23 -18z" />
            <path d="M440 1326 c0 -2 16 -20 36 -40 l37 -37 -34 -31 c-19 -17 -27 -27 -19
-23 8 4 25 17 37 28 l23 20 24 -26 c13 -14 26 -23 29 -20 3 3 -6 15 -21 28
l-27 23 23 24 c12 13 22 28 22 32 0 4 -12 -5 -26 -21 l-25 -27 -35 37 c-33 34
-44 43 -44 33z" />
            <path d="M566 815 c-27 -26 -41 -45 -33 -45 9 0 18 9 22 19 3 11 14 23 25 26
20 6 46 33 38 40 -2 2 -25 -16 -52 -40z" />
            <path d="M750 664 l0 -94 375 0 375 0 0 93 0 92 -375 1 -375 2 0 -94z m705 35
c11 -35 1 -79 -20 -86 -36 -12 -615 -5 -631 8 -8 7 -13 28 -12 53 l2 42 328
-1 c294 0 329 -2 333 -16z" />
            <path d="M1940 2053 c0 -4 13 -17 29 -27 16 -11 27 -26 24 -33 -3 -7 0 -13 6
-13 22 0 10 26 -24 53 -19 15 -35 24 -35 20z" />
            <path d="M1940 1942 c-43 -46 -44 -59 -1 -17 22 21 41 40 41 42 0 9 -18 -2
-40 -25z" />
            <path d="M320 1803 c0 -5 -11 -16 -24 -23 -14 -7 -28 -20 -31 -28 -5 -13 -3
-13 13 1 10 9 23 17 29 17 12 0 26 30 18 38 -3 3 -5 1 -5 -5z" />
            <path d="M197 447 c-21 -22 -36 -41 -34 -43 6 -6 68 48 78 68 16 29 -3 18 -44
-25z" />
          </g>
        </svg>
      </button></span>
    </div>


    <div id="editor">


    </div>
    <div id="test"></div>

    <p id="okbruh"></p>

  </div>
  <div class="modal">
    <div class="modal-content">
        <span class="close-button" id="close-button">&times;</span>
        <h1>Share With Users</h1>
        <form id="myform">
          <h2>Add a User:</h2>
          <input id="username" type="text" name="username" placeholder="name"/>
          <button type="button"  onclick="addUser()" id="add-user" style=" width:fit-content;">add user</button>
      </form>
      <div class="users">
        <h1>Users Added</h1>
      <ul id="users">

      </ul>
      </div>
    </div>
    
</div>

  <script src="/public/script.js"></script>
  <script>
    const title = document.getElementById('title');
    const modal = document.querySelector(".modal");
const trigger = document.querySelector(".trigger");
const secondTrigger = document.getElementById('trigger')
const closeButton = document.querySelector(".close-button");
const secondCloseButton = document.getElementById('close-button')

var list = document.getElementById('users');

function addUser(){
    var username = document.getElementById('username').value;
    var li = document.createElement('li')
    li.appendChild(document.createTextNode(username));
    list.appendChild(li);

    console.log(li)
    fetch('/sharedocument', {
      method:"post",
      headers:{
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        owner: userId,
        documentId: documentId,
        user: username,
        title: title.value
      })
    }).then(response => response.json()).then(data => console.log(data))
    return false;
}
function toggleModal() {
    modal.classList.toggle("show-modal");
}

function windowOnClick(event) {
    if (event.target === modal) {
        toggleModal();
    }
}

trigger.addEventListener("click", toggleModal);
closeButton.addEventListener("click", toggleModal);
window.addEventListener("click", windowOnClick);

secondCloseButton.addEventListener('click', () => {
  document.getElementById('container').style.display = 'block'
})

secondTrigger.addEventListener('click', () => {
  document.getElementById('container').style.display = 'none'
})

// When the user clicks anywhere outside of the modal, close it
    fetch('/documenttitler', {
      method:'post',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        id: documentId
      })
    }).then(res => res.json())
    .then((data) => {
      if(!data.title){
        title.value = "Untitled";
      } else {
        title.value = data.title
      }
    })
    


    fetch('/documenttitles', {
      method: 'post',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        id: documentId,
        user: userid
      })
    }).then(response => response.json())
      .then(data => {
        
        // if (!data.title) {
        //   title.value = 'Untitled'
        // } else {
        //   title.value = data.title
        // }
        console.log(data)
      })
  </script>

</body>

</html>